<form action='.' method= 'post'>{% csrf_token %}
{{usr}}
<div id = 'cuenca' class = 'default_values'>{{watersheed.id}}</div>
<div id = 'corporacion' class = 'default_values'>{{corporation.id}}</div>
<div id = 'usuario' class = 'default_values'>{{usr.id}}</div>
{{corporation.corponit}}
{{watersheed.cuencano}}
{% for componen, i in componentes %}
    <h1>{{componen}}</h1>
    {% for subcompo, j in i %}
        <h2>{{subcompo}}</h2> 
        {%for activi in j %}
            <p>{{forloop.counter}}{{activi.coacdesc}}...{{activi.coacpreg}} <button type= 'Button' value = '{{activi.id}}'>Agregar</button></p>
            
        {%endfor%}
    {% endfor %}
{% endfor %}
<input type="submit" value="Submit" />
</form>

