{% extends 'main.html' %}
{% block naviside %}
<h1>{{ title }}</h1>
<ol>
{% for componen, i in compo %}
    <h2><li>{{ componen.infocomp }}</li></h2>
    <ul>
    {% for subcompo in i %}
        <li>
            <h3><a href="{% url 'matriz_infoidentifi.views.resume' shared_id=shared_id subcompo=subcompo.infosubc %}">{{ subcompo.infotema }}</a></h3>
            {% if subcompo.infourlc %} <div class='capacit'>
                <a href="{{ subcompo.infourlc }}">Ver enlace de capacitacion</a>
            </div> {% endif %}
            {% if subcompo.infonota %} <div class='condition'>
                <h4>Pregunta aclaratoria</h4>
                {{ subcompo.infonota }}
            </div> {% endif %}
        </li>
        <br />
    {% endfor %}
    </ul>
    <hr />
{% endfor %}
</ol>
{% endblock %}
