{% extends 'main.html' %}
{% block naviside %}
<h1>{{ title }}</h1>
<p class="watersheed_name"><b>Formato:</b> {{ subtitle }}</p>
<p class="watersheed_name"><b>Cuenca:</b> {{ watersheed }}</p>
    <a class="pure-button normal-button" href="{% url 'matrix_infoident_add' shared_id=shared_id subcompo=subcompo %}" class="style_button">Agregar Nuevo</a>
    <a class="pure-button normal-button" href="{% url 'matrix_infoident_index' shared_id=shared_id %}" class="style_button">Volver</a>
<h2>Resumen de formatos</h2>
<ol>
{% for row in subfields %}
    <li><strong>{{ row.study }}</strong>
    <a class="pure-button normal-button" href="{% url 'matrix_infoident_edit' shared_id=shared_id subcompo=subcompo pk=row.study.id %}" class="style_button">Editar</a>
    {% for topic in row.subtopic %}
       <h4>{{ topic.title }}</h4>
        <ol>
        {% for subform in topic.subtopic %}
            <li>{{ subform }}
            <a class="pure-button normal-button" href="{% url 'matrix_infoident_subte_edit' shared_id=shared_id subcompo=subcompo pk=row.study.id subtema=topic.modelname subte_pk=subform.id %}" class="style_button">Editar</a></li>
        {% endfor %}
        </ol>
        {% if not topic.subtopic or topic.add %}<a class="pure-button normal-button" class="pure-button" href="{% url 'matrix_infoident_subte' shared_id=shared_id subcompo=subcompo pk=row.study.id subtema=topic.modelname %}" class="style_button">Agregar nuevo</a>
        {% endif %}
    {% endfor %}
    </li>
{% empty %}
    <p>No ha diligenciado ningún formato para este componente</p>
    <a class="pure-button normal-button" href="{% url 'matrix_infoident_add' shared_id=shared_id subcompo=subcompo %}" class="style_buton">Agregar el primer formato</a>
    <br />
{% endfor %}
</ol>
{% if forms %}
    <a class="pure-button normal-button" href="{% url 'matrix_infoident_add' shared_id=shared_id subcompo=subcompo %}" class="style_button">Agregar Nuevo</a>
{% endif %}
{% endblock %}
