body{
    margin:0px;
    /*background-color:#C2C3C8;/*Degrad #C2C3C8 , White*/;
}
header{
    height : 400px;
    /*background-color:green;
    /*background-image:url('http://lunar.thegamez.net/greentechnology/environment/809environment-istock-000006175251mediumjpg-1701x1129.jpg');*/
    background-repeat:no-repeat;
}
header #top_menu{
    float:right;
    background-color:rgba(120,74,10,0.8);/*#784A0A;*/
    margin-top:50px;
    padding-top:20px;
    padding-bottom:20px;
    padding-left:35px;
    padding-right:20px;
    z-index:2;
}
header #top_menu ul{
    list-style-type:none;
    margin:0;
    padding:0;
}
#top_menu li{
    float:left;
}
#top_menu a:link,a:visited{
    text-decoration:none;
    font-weight:bold;
    color:#000000;
    text-align:center;
    padding:0px 9px 0px 3px;
    z-index:3;
}
#business_logos{
    top:20px;
    border-top:20px solid transparent;
    width:118px;/*62px;*/
    z-index:-1;
}
#asocars_logo,#corpora_logo{
    background-color:rgba(120,74,10,0.8);/*#784A0A;*/
    /*margin-top:40px;*/
    padding:6px 6px 6px 50px;
}
#asocars_logo{
}
#corpora_logo{
    margin-top:33px;
}
section{
    margin-right:auto;
    margin-left:auto;
    max-width:1000px;
}
h1{
    text-align:center;
}
.normal-button{
    background-color: rgb(120,74,10);
    color: #fff;
}
footer{
    background-color:#EDFFED;
    border-top: thick solid #1B3280;
}
footer #bottom_images{
    float:right;
    margin-right:20px;
}
#bottom_images img{
    float:left;
}
strong{
    font-size:1.3em;
}
h3 a:link, h3 a:visited, h3 a:hover, h3 a:active{
    text-decoration:none;
    color:#4682b4;
}
.list-select{ 
    text-decoration:none;
    color:#006699;
    line-height:150%;
}
a.list-select:hover {
    /*text-decoration:underline;*/
    font-size:1.2em;
}
form{
    max-width:550px;
    text-align:justify;
}
label{
    display:block;
    color: #003366;
    font-size:1.4em;
    /*max-width:40%;*/
}
form.capture-form input, form.capture-form select{
    width:65%;
}
span.helptext{
    font-size:0.8em;
    color:  #4FD5D6;
}
form input.pure-button{
    width:200px;
}
footer{
    margin-top:25px;
}
footer #bottom_text{
    max-width:300px;
}
footer p{
    font-size:0.875em;
    /*line-height:3px;*/
    margin:0%;
    margin-left:20px;
}
#Copyright{
    text-align:center;
}
