<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="author" content="ASOCARS - Javier Constain" />
    <meta name = "description" content="Sistema de Gestión de Información de ASOCARS
        para el contrato 085 del 2013 entre ASOCARS con el Ministerio de Ambiente y Desarrollo
        Sostenible y el Fondo de Adaptación"/>
    <title>{% block title %}Proyecto POMCAS{% endblock %} - ASOCARS</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}">
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">
    <style>
        .normal-button{
            background-color:#afeeee;
            color: #000;
            font-weight:bold;
        }
    </style>
</head>
<body>
    <header>
    <nav id="top_menu">
        <ul>
            <li><a href="http://asocars.org.co">ASOCARS.org.co</a> | </li>
            <li><a href="{% url 'cargando' %}">Inicio</a> | </li>
            {% if user.is_authenticated %}
             <li><a href="{{ PREFIX_URL }}corporation">Corporación</a> | </li>
             <li><a href="{% url 'Matrix_list' %}">Matrices</a> | </li>
             <li><a href="{{ PREFIX_URL }}reports">Reportes</a> | </li>
             <li><a href="{% url 'close_session' %}">Cerrar sesión</a></li>
            {% else %}
             <li><a href="{% url 'start_session' %}">Iniciar sesión</a></li>
            {% endif %}
        </ul>
    </nav>
    <div id = "business_logos">
        <div id="asocars_logo">
            <img src="{% static "img/logos/asocars_whitebg_logo.png" %}" alt="ASOCARS_logo" height="60" />
        </div>
        {% if user.is_authenticated %}
        <div id = "corpora_logo">
            <img src= "{% static "img/logos/" %}{{user.username}}.png" alt="{{user.username}}_logo" height="60" />
        </div>
        {% endif %}
    </div>
    </header>
    <section>
    {% block naviside %}
    {% endblock %}
    </section>
    <footer>
    <div id="bottom_images">
        <img src="{% static "img/logos/minambiente_logo.png" %}" alt="Minambiente" height="80" />
        <img src="{% static "img/logos/fondo_adaptacion.png" %}" alt="Fondo_Adaptacion" height="80" />
    </div>
    <div id="bottom_text">
    <p>Asociación de Corporaciones Autónomas Regionales y de Desarrollo Sostenible</p>
    <p>NIT: 830.027.275-7</p>
    <p>Calle 70 No. 11A - 24</p>
    <p>Telefax: 317 2888 - 317 2711</p>
    <p>Bogotá - Colombia</p>
    </div>
    <div id="Copyright">
        <p>Copyright 2014 ASOCARS</p>
        <p>Developed by Javier Constaín</p>
    </div>
    </footer>
</body>
</html>
